nav {
    .navbar-brand{
        color: #EE6C4D;
    }

    background-color: #293241;
    color: #fff  !important; 

    .nav-item {
        a{
            cursor: pointer;
            color: #fff  !important;
        }
    }

    .login-area{
        text-align: center;
        color: #fff !important;
    }
}