<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="title">
        <h5>Login</h5>
      </div>
      <form [formGroup]="loginForm">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            formControlName="email"
          />
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Senha"
            formControlName="password"
          />
        </div>
      </form>
      <div class="login-footer">
        <button class="btn btn-send" (click)="sendLoginForm()">Entrar</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="title">
        <h5>Cadastrar</h5>
      </div>

      <div class="row">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault1"
            value="1"
            (change)="chooseRegisterFormType($event)"
          />
          <label class="form-check-label" for="flexRadioDefault1">
            Empresa
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            value="2"
            checked
            (change)="chooseRegisterFormType($event)"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Individual
          </label>
        </div>
      </div>

      <div *ngIf="isCompany">
        <form [formGroup]="registerStoreForm">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="Nome da Loja"
              formControlName="fantasyName"
            />
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
              formControlName="email"
            />
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Senha"
              formControlName="password"
            />
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingPassword"
              placeholder="CNPJ"
              formControlName="cpf_cnpj"
            />
          </div>
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="inputGroupFile02"
              #fileInput
              (change)="inputFileChange(fileInput.files)"
            />
            <label class="custom-file-label" for="inputGroupFile02"
              >Escolha a imagem</label
            >
          </div>

          <div class="row">
            <div style="width: 400px; height: 400px" *ngIf="haveImage">
              <img
                [src]="imageSource"
                [(ngModel)]="imageURL"
                style="width: 400px; height: 400px"
              />
              <span style="text-align: center; margin-bottom: 3em"
                >Tamanho recomendado: 400x400</span
              >
            </div>
          </div>
        </form>

        <div>
          <button class="btn btn-dark" (click)="sendStoreRegister()">Enviar</button>
        </div>
      </div>

      <div *ngIf="isIndividual">
        <form [formGroup]="registerIndividualForm">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="Nome da Loja"
              formControlName="fullName"
            />
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
              formControlName="email"
            />
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Senha"
              formControlName="password"
            />
          </div>
        </form>
        <div>
          <button class="btn btn-dark">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
