<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DevReviews</a>
    </div>
</nav>

<div class="body-page">
    <div>
        <div class="title mt-5">
            <h3 >Listagem de Produtos</h3>
        </div>

        <div>
            <div>
                <button class="btn btn-dark">Cadastrar Novo Produto</button>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    
</div>
<ngx-spinner></ngx-spinner>